a {
    cursor: pointer;
}

#main > #placeholder {
    width: 60%;
    margin: auto;
    text-align: center;
}

#main > #placeholder img {
    width: 60%;
}

#main > #placeholder p {
    text-align: center;
    font-size: 2em;
}